.filter-sorting {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;
}
.filter-sorting > button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #4070f4;
}
.filter-sorting > button:before, .filter-sorting > button:after {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
.filter-sorting > button.desc:before {
  background-image: url("/images/up.svg");
}
.filter-sorting > button.asc:before {
  background-image: url("/images/down.svg");
}
.filter-sorting > button.submit {
  color: rgba(64, 112, 244, 0.5);
}
.filter-sorting > button.submit:before {
  opacity: 0.5;
}
@media (max-width: 750px) {
  .filter-sorting {
    justify-content: center;
  }
}

.applicants, .vacancies {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  padding: 10px;
}
.applicants > .filter-container > .filter-button, .vacancies > .filter-container > .filter-button {
  display: flex;
}
.applicants > .filter-container > .filter-button > button, .vacancies > .filter-container > .filter-button > button {
  margin: 10px;
  padding: 5px 10px;
  background-color: #4070f4;
  border-radius: 5px;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #fff;
  transition: background-color 0.2s ease;
}
.applicants > .filter-container > .filter-button > button:hover, .vacancies > .filter-container > .filter-button > button:hover {
  background-color: #3c78ff;
}
.applicants > .filter-container > .filter, .vacancies > .filter-container > .filter {
  margin: 10px;
  padding: 10px;
  background-color: rgba(64, 112, 244, 0.18);
  border-radius: 5px;
}
.applicants > .filter-container > .filter > form > .filter-item, .vacancies > .filter-container > .filter > form > .filter-item {
  margin: 10px;
}
.applicants > .filter-container > .filter > form > .filter-item > h3, .vacancies > .filter-container > .filter > form > .filter-item > h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  color: #4070f4;
}
.applicants > .filter-container > .filter > form > .filter-item > div, .vacancies > .filter-container > .filter > form > .filter-item > div {
  margin-top: 5px;
}
.applicants > .filter-container > .filter > form > .filter-item.from-to > input, .vacancies > .filter-container > .filter > form > .filter-item.from-to > input {
  width: 100%;
  padding: 2px 5px;
  border-radius: 5px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}
.applicants > .filter-container > .filter > form > .filter-item.from-to > input:focus-visible, .vacancies > .filter-container > .filter > form > .filter-item.from-to > input:focus-visible {
  outline: 2px solid #4070f4;
}
.applicants > .filter-container > .filter > form > .filter-item.from-to > input:last-child, .vacancies > .filter-container > .filter > form > .filter-item.from-to > input:last-child {
  margin-top: 5px;
}
.applicants > .filter-container > .filter > form > .filter-item.select, .vacancies > .filter-container > .filter > form > .filter-item.select {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #4070f4;
}
.applicants > .filter-container > .filter > form > .search-button, .vacancies > .filter-container > .filter > form > .search-button {
  padding: 10px;
}
.applicants > .filter-container > .filter > form > .search-button > button, .vacancies > .filter-container > .filter > form > .search-button > button {
  width: 100%;
  padding: 5px 10px;
  background-color: #4070f4;
  border-radius: 5px;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #fff;
  transition: background-color 0.2s ease;
}
.applicants > .filter-container > .filter > form > .search-button > button.submit, .vacancies > .filter-container > .filter > form > .search-button > button.submit {
  background-color: rgba(64, 112, 244, 0.4);
}
.applicants > .filter-container > .filter > form > .search-button > button.submit:hover, .vacancies > .filter-container > .filter > form > .search-button > button.submit:hover {
  cursor: wait;
  background-color: rgba(64, 112, 244, 0.4);
}
.applicants > .filter-container > .filter > form > .search-button > button:hover, .vacancies > .filter-container > .filter > form > .search-button > button:hover {
  background-color: #3c78ff;
}
.applicants > .list, .vacancies > .list {
  display: flex;
  flex-direction: column;
}
.applicants > .list > .show-more, .vacancies > .list > .show-more {
  margin: 10px;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  color: #4070f4;
}
@media (max-width: 750px) {
  .applicants, .vacancies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.list-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
  height: 100%;
}
.list-loader > .sk-grid > .sk-grid-cube {
  background-color: #4070f4;
}

/*# sourceMappingURL=search.css.map */
