@import '../../variables/colors';

.hystmodal {

    > .hystmodal__wrap {

        > .hystmodal__window {

            > .modal-container {

                > form {
                    display: flex;
                    justify-content: center;

                    > button {
                        margin: 10px;
                        padding: 5px 10px;

                        background-color: $secondary-color;
                        border-radius: 5px;

                        font-family: "Montserrat Alternates", sans-serif;
                        font-weight: 500;
                        font-size: 20px;
                        font-style: normal;
                        color: #fff;

                        transition: background-color 0.2s ease;

                        &:hover {
                            background-color: $secondary-hover-color;
                        }
                    }
                }
            }
        }
    }
}
