@import '../../../variables/colors';

.edit-password {
    margin: 20px auto;
    padding: 10px;

    max-width: 400px;

    background-color: rgba(64, 112, 244, 0.18);
    border-radius: 5px;

    .edit-password-container {

        > form {

            > .edit-password-input {
                margin: 10px;
                padding: 10px;

                > h3 {
                    font-family: "Montserrat Alternates", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    font-style: normal;
                    color: $main-color;
                }

                > span {
                    font-family: "Comfortaa", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    font-style: normal;
                    color: $secondary-color;
                }

                > input {
                    margin-top: 5px;
                    padding: 10px;

                    width: 100%;

                    border-radius: 5px;

                    font-family: "Comfortaa", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    font-style: normal;

                    &:focus-visible {
                        outline: 2px solid $main-color;
                    }
                }
            }

            .edit-password-submit-button {
                display: flex;
                align-items: center;
                justify-content: center;

                > button {
                    margin: 20px;
                    padding: 5px 10px;

                    background-color: $main-color;
                    border-radius: 5px;

                    font-family: "Montserrat Alternates", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    font-style: normal;
                    color: #fff;

                    transition: background-color 0.2s ease;

                    &:hover {
                        background-color: #3c78ff;
                    }
                }
            }
        }
    }


    @media (max-width: 435px) {
        margin: 20px;
    }
}
