@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables/fonts';

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 256px;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    .nav-bar-logo {
        margin: 10px;

        > a {

            > img {
                max-width: 150px;

            }
        }
    }

    .footer-logo {
        margin: 20px;

        > a {

            > img {
                max-width: 100px;
            }
        }
    }
}
