@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables/fonts';
@import './variables/colors';

.ymap-marker {
    width: 35px;
    height: 35px;

    background-image: url("https://cdn-icons-png.flaticon.com/512/9131/9131546.png ");
    background-position: center;
    background-size: 35px 35px;
}

.ymap-container {
    width: 100%;
    height: 300px;

    background-color: #fff;
    border: 1px solid $main-color;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 256px;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    .nav-bar-logo {
        margin: 10px;

        > a {

            > img {
                max-width: 150px;

            }
        }
    }

    .footer-logo {
        margin: 20px;

        > a {

            > img {
                max-width: 100px;
            }
        }
    }
}
