@import '../../variables/colors';
@import '../../variables/fonts';

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background: $background-color;

    .wrapper {
        position: relative;

        padding: 34px;
        margin: 20px;

        max-width: 430px;
        width: 100%;

        background: #fff;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

        > h2 {
            position: relative;

            font-family: "Montserrat Alternates", sans-serif;
            font-weight: 500;
            font-style: normal;
            color: #333;

            &::before {
                position: absolute;
                left: 0;
                bottom: 0;

                height: 3px;
                width: 28px;

                background: $background-color;
                border-radius: 12px;

                content: '';
            }
        }

        > form {
            margin-top: 30px;

            > span {
                font-family: "Comfortaa", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                color: $border-color;
            }

            > .input-box {
                margin: 5px 0 23px 0;

                height: 52px;

                > input {
                    height: 100%;
                    width: 100%;

                    padding: 0 15px;

                    outline: none;

                    font-family: "Comfortaa", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 14px;
                    color: #333;

                    border: 1.5px solid #C7BEBE;
                    border-bottom-width: 2.5px;
                    border-radius: 6px;

                    transition: all 0.3s ease;

                    &:focus, &:valid {
                        border-color: $background-color;
                    }

                    &.auth-invalid {
                        border-color: $border-color;

                        &:focus, &:valid {
                            border-color: $border-color;
                        }
                    }
                }

                &.button {
                    > input {
                        font-family: "Montserrat Alternates", sans-serif;
                        font-weight: 500;
                        font-style: normal;
                        font-size: 16px;
                        color: #fff;

                        border: none;
                        background: $background-color;
                        letter-spacing: 1px;

                        cursor: pointer;

                        &:hover {
                            background: #0e4bf1;
                        }
                    }
                }
            }

            > .text {
                font-family: "Comfortaa", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;

                h3 {
                    width: 100%;

                    color: #333;
                    text-align: center;

                    a {
                        color: $background-color;

                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            > .remember-me {
                display: flex;
                align-items: center;

                margin-bottom: 15px;
            }

            > .gender-select {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                margin-bottom: 23px;

                > .gender-radio {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:last-child {
                        margin-left: 15px;
                    }
                }
            }

            h3 {
                margin-left: 10px;

                font-family: "Comfortaa", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                color: #707070;
            }
        }
    }
}
