.profile-edit {
  margin: 20px auto;
  padding: 10px;
  max-width: 1200px;
  background-color: rgba(64, 112, 244, 0.18);
  border-radius: 5px;
}
.profile-edit > .profile-edit-container > form > .profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
.profile-edit > .profile-edit-container > form > .profile-avatar > .avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.profile-edit > .profile-edit-container > form > .profile-avatar .file-input {
  margin-top: 20px;
}
.profile-edit > .profile-edit-container > form > .profile-avatar .file-input > span {
  padding: 8px 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #fff;
  white-space: nowrap;
  background-color: #4070f4;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.profile-edit > .profile-edit-container > form > .profile-avatar .file-input > span:hover {
  background-color: #3c78ff;
}
.profile-edit > .profile-edit-container > form > .profile-avatar .file-input > input[type=file] {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}
.profile-edit > .profile-edit-container > form > .profile-avatar > .profile-avatar-error {
  margin-top: 10px;
  text-align: center;
}
.profile-edit > .profile-edit-container > form > .profile-avatar > .profile-avatar-error > span {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #e91e63;
}
.profile-edit > .profile-edit-container > form > .phone, .profile-edit > .profile-edit-container > form .birthday, .profile-edit > .profile-edit-container > form .salary {
  margin: 10px;
  padding: 10px;
}
.profile-edit > .profile-edit-container > form > .phone > h3, .profile-edit > .profile-edit-container > form .birthday > h3, .profile-edit > .profile-edit-container > form .salary > h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #4070f4;
}
.profile-edit > .profile-edit-container > form > .phone > input, .profile-edit > .profile-edit-container > form .birthday > input, .profile-edit > .profile-edit-container > form .salary > input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
.profile-edit > .profile-edit-container > form > .phone > input:focus-visible, .profile-edit > .profile-edit-container > form .birthday > input:focus-visible, .profile-edit > .profile-edit-container > form .salary > input:focus-visible {
  outline: 2px solid #4070f4;
}
.profile-edit > .profile-edit-container > form > .phone > .phone-error, .profile-edit > .profile-edit-container > form > .phone > .birthday-error, .profile-edit > .profile-edit-container > form > .phone .salary-error, .profile-edit > .profile-edit-container > form .birthday > .phone-error, .profile-edit > .profile-edit-container > form .birthday > .birthday-error, .profile-edit > .profile-edit-container > form .birthday .salary-error, .profile-edit > .profile-edit-container > form .salary > .phone-error, .profile-edit > .profile-edit-container > form .salary > .birthday-error, .profile-edit > .profile-edit-container > form .salary .salary-error {
  margin-top: 5px;
}
.profile-edit > .profile-edit-container > form > .phone > .phone-error > span, .profile-edit > .profile-edit-container > form > .phone > .birthday-error > span, .profile-edit > .profile-edit-container > form > .phone .salary-error > span, .profile-edit > .profile-edit-container > form .birthday > .phone-error > span, .profile-edit > .profile-edit-container > form .birthday > .birthday-error > span, .profile-edit > .profile-edit-container > form .birthday .salary-error > span, .profile-edit > .profile-edit-container > form .salary > .phone-error > span, .profile-edit > .profile-edit-container > form .salary > .birthday-error > span, .profile-edit > .profile-edit-container > form .salary .salary-error > span {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #e91e63;
}
.profile-edit > .profile-edit-container > form > .city {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}
.profile-edit > .profile-edit-container > form > .city > h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #4070f4;
}
.profile-edit > .profile-edit-container > form > .city > .city-select {
  margin-top: 5px;
}
.profile-edit > .profile-edit-container > form > .education {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}
.profile-edit > .profile-edit-container > form > .education > h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #4070f4;
}
.profile-edit > .profile-edit-container > form > .education > .education-select-container > .university-select, .profile-edit > .profile-edit-container > form > .education > .education-select-container .collage-select {
  margin-top: 20px;
}
.profile-edit > .profile-edit-container > form > .education > .education-select-container > .university-select > h4, .profile-edit > .profile-edit-container > form > .education > .education-select-container .collage-select > h4 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #4070f4;
  margin-bottom: 5px;
}
.profile-edit > .profile-edit-container > form > .education > .education-select-container > .university-select .select2-selection__choice__display, .profile-edit > .profile-edit-container > form > .education > .education-select-container .collage-select .select2-selection__choice__display {
  word-wrap: break-word !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}
.profile-edit > .profile-edit-container > form > .about {
  margin: 10px;
  padding: 10px;
}
.profile-edit > .profile-edit-container > form > .about > h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #4070f4;
}
.profile-edit > .profile-edit-container > form > .about > textarea {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  height: 305px;
  border-radius: 5px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
.profile-edit > .profile-edit-container > form > .about > textarea:focus-visible {
  outline: 2px solid #4070f4;
}
.profile-edit > .profile-edit-container > form > .about > .about-error {
  margin-top: 5px;
}
.profile-edit > .profile-edit-container > form > .about > .about-error > span {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #e91e63;
}
.profile-edit > .profile-edit-container > form > .specifications {
  flex-wrap: wrap;
  display: flex;
}
.profile-edit > .profile-edit-container > form > .specifications > div {
  margin: 10px;
}
.profile-edit > .profile-edit-container > form > .specifications > div > h3 {
  margin: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #4070f4;
}
.profile-edit > .profile-edit-container > form > .specifications > div > div {
  margin: 10px;
}
.profile-edit > .profile-edit-container > form > .specifications > div > div > label {
  margin-left: 2px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #4070f4;
}
.profile-edit > .profile-edit-container > form > .specifications > div > div > input, .profile-edit > .profile-edit-container > form > .specifications > div > div > label {
  cursor: pointer;
}
.profile-edit > .profile-edit-container > form > .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.profile-edit > .profile-edit-container > form > .controls > .profile-update, .profile-edit > .profile-edit-container > form > .controls .profile-delete {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #fff;
  transition: background-color 0.2s ease;
}
.profile-edit > .profile-edit-container > form > .controls > .profile-update.profile-update, .profile-edit > .profile-edit-container > form > .controls .profile-delete.profile-update {
  background-color: #4070f4;
}
.profile-edit > .profile-edit-container > form > .controls > .profile-update.profile-update:hover, .profile-edit > .profile-edit-container > form > .controls .profile-delete.profile-update:hover {
  background-color: #3c78ff;
}
.profile-edit > .profile-edit-container > form > .controls > .profile-update.profile-delete, .profile-edit > .profile-edit-container > form > .controls .profile-delete.profile-delete {
  background-color: #e91e63;
}
.profile-edit > .profile-edit-container > form > .controls > .profile-update.profile-delete:hover, .profile-edit > .profile-edit-container > form > .controls .profile-delete.profile-delete:hover {
  background-color: #f13571;
}
.profile-edit > .profile-edit-container > form > .password {
  margin: 10px;
  padding: 10px;
}
.profile-edit > .profile-edit-container > form > .password > a {
  text-decoration: underline;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #e91e63;
}
@media (max-width: 1200px) {
  .profile-edit {
    margin: 20px;
  }
}

/*# sourceMappingURL=edit.css.map */
