@import '../../variables/colors';

.profile {
    margin: 20px;
    padding: 10px;

    background-color: rgba(64, 112, 244, 0.18);
    border-radius: 5px;

    > .profile-container {
        display: grid;
        grid-template-columns: 1fr 2fr;

        margin: 10px;

        > .user-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

            padding: 10px;

            > .avatar {
                width: 250px;
                height: 250px;

                margin: 10px;

                border-radius: 100%;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                cursor: pointer;
            }

            > .user-fio {
                display: flex;
                align-items: center;
                justify-content: center;

                margin: 10px;

                font-family: "Montserrat Alternates", sans-serif;
                font-weight: 500;
                font-size: 20px;
                font-style: normal;
                color: $main-color;

                > svg {
                    width: 25px;
                    min-width: 25px;
                    height: 25px;
                    min-height: 25px;

                    margin-right: 10px;
                }
            }

            .user-contacts {
                width: 100%;

                margin: 10px;
                padding: 10px;

                > h3 {
                    font-family: "Montserrat Alternates", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    font-style: normal;
                    color: $main-color;
                }

                > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    margin-top: 10px;

                    border-bottom: 1px solid $main-color;

                    > span:first-child {
                        font-family: "Montserrat Alternates", sans-serif;
                        font-weight: 500;
                        font-size: 22px;
                        font-style: normal;
                        color: $main-color;
                    }

                    > span:last-child {
                        font-family: "Comfortaa", sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        font-style: normal;
                        color: rgba(64, 112, 244, 0.88);
                    }
                }
            }

            > .user-profile-edit {
                margin: 10px;
                padding: 5px 10px;

                background-color: $main-color;
                border-radius: 5px;

                text-align: center;
                font-family: "Montserrat Alternates", sans-serif;
                font-weight: 500;
                font-size: 20px;
                font-style: normal;
                color: #fff;

                transition: background-color 0.2s ease;

                &:hover {
                    background-color: #3c78ff;
                }
            }
        }

        > .user-info {
            width: 100%;

            padding: 10px;

            border-left: 2px solid $main-color;

            > .user-created {
                margin: 10px;

                > h3 {
                    font-family: "Montserrat Alternates", sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    font-style: normal;
                    color: $secondary-color;
                }
            }

            > .user-about {
                margin: 10px;

                word-break: break-all;

                > h3 {
                    font-family: "Montserrat Alternates", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    font-style: normal;
                    color: $main-color;
                }

                > p {
                    font-family: "Comfortaa", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    font-style: normal;
                    color: rgba(64, 112, 244, 0.88);
                }
            }

            .specifications {

                > div {
                    margin: 10px;

                    > h3 {
                        font-family: "Montserrat Alternates", sans-serif;
                        font-weight: 500;
                        font-size: 20px;
                        font-style: normal;
                        color: $main-color;
                    }

                    > ul {
                        > li {
                            font-family: "Comfortaa", sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            font-style: normal;
                            color: rgba(64, 112, 244, 0.88);
                        }
                    }
                }
            }
        }

        @media (max-width: 750px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
